apiVersion: v1
kind: Service
metadata:
  name: cilist-frontend
  labels:
    app: cilist
    tier: frontend
spec:
  ports:
  - port: 3000
    targetPort: 3000
    name: frontend-port
  selector:
    app: cilist
    tier: frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cilist-frontend
spec:
  selector:
    matchLabels:
      app: cilist
      tier: frontend
  replicas: 1
  template:
    metadata:
      labels:
        app: cilist
        tier: frontend
    spec:
      containers:
      - name: cilist-frontend
        image: 128532453810.dkr.ecr.ap-southeast-1.amazonaws.com/cilist-frontend:IMAGE_TAG
        resources:
          limits:
            memory: 400Mi
            cpu: 150m
          requests:
            memory: 160Mi
            cpu: 100m
        ports:
        - containerPort: 3000
